<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Properties>
        <Property name="LOG_DIR">logs</Property>
        <Property name="ARCHIVE_DIR">${LOG_DIR}/archive</Property>
        <Property name="BASE_NAME">hotel_system</Property>
    </Properties>

    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss} [%t] %-5level %logger{36} - %msg%n"/>
        </Console>

        <RollingFile name="RollingFile"
                     fileName="${LOG_DIR}/${BASE_NAME}.log"
                     filePattern="${ARCHIVE_DIR}/${BASE_NAME}-%d{MM-dd-yyyy}-%i.log.gz">

            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss} [%t] %-5level %logger{36} - %msg%n"/>

            <Policies>
                <SizeBasedTriggeringPolicy size="1 MB" />
                <TimeBasedTriggeringPolicy interval="1" modulate="true" />
            </Policies>

            <DefaultRolloverStrategy max="10"/>
        </RollingFile>
    </Appenders>

    <Loggers>
        <Root level="info">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="RollingFile"/>
        </Root>

        <Logger name="org.hibernate" level="error" additivity="false">
            <AppenderRef ref="RollingFile"/>
        </Logger>
    </Loggers>
</Configuration>